<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <div class="px-4 py-5 my-5 text-center"> <h1 class="display-5 fw-bold text-body-emphasis">BOOK CLUB</h1> <div class="col-lg-6 mx-auto"> <p class="lead mb-4">A site to store and share books you read and enjoyed, Add notes to chapters you enjoyed and remember the moment.</p> <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <a href="register"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Register</button> </a> <a href="login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button></a> </div> </div> </div>
</body>
</html>