h1,h2{
    text-align: center;
    color: #2B2A2A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5A7ACD;
}
body{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0px 20px 0px 20px;
    background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
    
}
.book{
    max-width: 60%;
 
}
.book h4{
    color: #878484; 
}
.book img{
    float: left;
    padding-right: 10px;
}
.sort{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: #FEB05D;
    color: #e5e5f7;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input{
    border-color: white;
}
.view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
